<div class="wrapper">
<section class="welcome-page">
  <h2> Welcome to Rideshare on Rails! </h2>
<section class="checkout">
<article>
  <p>
    <%= link_to "Checkout our drivers", drivers_path %>
  </p>
</article>
<article>
  <p>
    <%= link_to "Checkout our passengers", passengers_path %>
  </p>
</article>
</section>
</section>
</div>
