<div class="wrapper">
  <h2 class = "driver-header">Edit <%=@driver.name%>'s Details</h2>
  <div class="driver-form">
  <%= render partial: "form" %>
  </div>
</div>

<%= image_tag("car-1850682_1920.jpg", :alt => "a person in a vintage car", :id => "vintage-car") %>
