<div class="wrapper">
  <h2 class = "driver-header">Edit <%=@driver.name%>'s Details</h2>
  <div class="driver-form">
  <%= render partial: "form" %>
  </div>
</div>

<img id = "vintage-car" src= "https://cdn.pixabay.com/photo/2016/11/22/21/39/car-1850682_1280.jpg" alt= "a person in a vintage car">
