<div class="wrapper">
  <h2 class = "driver-header">Add a New Driver!</h2>
  <p>
    <%= render partial: "form" %>
  </p>
</div>

<img id = "truck" src= "https://cdn.pixabay.com/photo/2016/11/21/14/03/beautiful-1845572_1280.jpg" alt= "a person driving a vintage truck">
