<div class="wrapper">
  <h2 class = "driver-header">Add a New Driver!</h2>
  <p>
    <%= render partial: "form" %>
  </p>
</div>

<%= image_tag("beautiful-1845572_1920.jpg", :alt => "a person in a vintage truck", :id => "truck") %>
