<h1><%= @driver.name %>'s Details</h1>
<%# trip_list =  trips.find_all[:driver_id] %>
<section>
  <ul>
    <li>
        <%# total_earnings = driver.earnings * (1 - 0.15) %>
        Earnings: <%#= total_earnings %>
    </li>
    <li>
      <%# total_cost = 0
      <%# trip_list.each do |voyage|
      total_cost << voyage.cost %>
      Rating: <%#  total_cost.sum/(total_cost.length) %>
    </li>
    <%# end %>
  </ul>
