/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/***********************/
/* GENERAL ELEMENT CSS */
/***********************/
@import url('https://fonts.googleapis.com/css?family=Bubbler One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Gafata');

body {
  font-family: 'Gafata'
}

a {
  text-decoration: none;
  color: #49434F;
}

a:hover {
  color: #29CEA8;
}

main {
  clear: both;
}

/***********************/
/*  HEADER CSS    */
/***********************/

header h1 {
  font-size: 50px;
  /* why isn't this working to change the color of the h1 in header? */
  color: #29CEA8;
  display: inline-block;
  float: left;
  width: 40%;
}

header nav {
  float: right;
  width: 40%;
  margin-top: 3%;
}

header h1 a:hover {
  color: #29CEA8;
}

header ul li {
  display: inline-block;
  padding: 1%;
}

/***********************/
/*  TABLE CSS    */
/***********************/

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table, th, td {
   border: 1px solid black;
}


th {
    height: 50px;
    background-color: #29CEA8;
}

th, td {
  padding: 1%;
}

tr:hover {background-color: #A2F6E8}
