// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
font-size: 36px;
background-color: rgba(58, 80, 107, 1);
color: white;
text-align: center;
vertical-align: middle;
}

section{
  display: flex;
  padding: 10px;
background-color: rgba(91, 192, 190, .5);
margin: 50px;
}

section, ul li{
  padding: 5px;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

section, ul{
}
