// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************/
/* INDEX CSS           */
/***********************/

.index {

}
.index h2 {
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 200%;
}

.index li {
  font-size: 125%;
}

/***********************/
/* show CSS           */
/***********************/
