// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************/
/* trip show           */
/***********************/

.trip-show table {
      margin-top: 5%;
}

.trip-show p {
  margin-top: 10%;
  background-color: #B2ABBF;
  border-radius: 0.2rem;
  width: 15%;
  text-align: center;
  padding: 1% 0%;
}
