// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************/
/* trip show           */
/***********************/

.trip-show table {
      margin-top: 15%;
}
