<% if model.errors.messages.length > 0 %>
  <section class="error-messages">
    <h3>Please fix the following errors:</h3>
    <ul>
      <% model.errors.messages.each do |field, problems| %>
        <% problems.each do |problem| %>
          <li>
            <strong>
              <%= field %>:
            </strong>
            <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
